.vote {
  padding: 1em;
  border-radius: 0.2em;
  border: 0.1em solid gray;
}

.vote.card {
  background-color: lightgray;
}

.vote.result {
  background-color: lightblue;
}

button {
  margin: 0.5em;
}